
.body{
    font-family: sans-serif; 
}

/* navigatiion styles*/

.margin{
    margin: 20px 250px;
    
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.links ul li{
    display: inline-block;
    margin-right: 1.6rem;
    list-style: none;
}
.links ul li a{
    text-decoration: none;
    color: #252432;
    font-size: 1.6rem;
    font-weight: 600;
}
.links ul li a:hover{
    color:#E95A08 ;
}
.links{
    display: flex;
    justify-content: center;
}

/*hero section style*/
.hero-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 300px;
}

.hero-title{
    font-size: 60px;
    font-weight: 700;
    font-family: sans-serif;  
}
.hero-title span{
    color: #E95A08;
}
.hero-description{
    font-size:1.7rem ;
    color: rgb(146, 145, 145);
}


/*card heading style*/
.top-heading{
    font-size: 55px;
    font-weight: 700;
    text-align: center;
    margin-top: 160px;
}
.top-heading span{
    color: #E95A08;
  
}

.card-description{
    font-size: 1.7rem;
    font-weight: 400;
    text-align: center;
    color: rgb(146, 145, 145);
}


/* card style start*/

.card{
   
    margin-top: 40px;
}
.card img{
    width: 100%;
}

.card-title{
    text-align: center;
    color: #808081;
}
.card-price{
    font-size:30px;
    font-weight: 700;
    text-align: center;
    color: #5b5b5c;
      
}
.card button{
    width: 100%;
    font-size: 22px;
    font-weight: 700;
    color: aliceblue;
    background-color: #E95A08;
    border: none;
    padding:  20px 30px;
    cursor: pointer;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    gap: 20px;

}
/*flower plants*/

.flower-plants{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 220px;
}
.child-images img{
    width:360px ;
}
.parent-images{
    position: relative;
}
.child-images{ 
    position: absolute;
    left: 350px;
    top: -160px;
}

.plants h2{
    font-size: 50px;
    font-weight: 700;
    font-family:serif;
}
.plants ul li{
    font-size: 22px;
    font-weight: 400;
    color: rgb(146, 145, 145) ;
}












/*Responsice Design*/

@media screen  and (max-width:576px){
    
    .margin{
        margin: 0px auto;
    }
    .nav3{
        display: none;
    }
    .links{
        font-size: 16px;
    }
    .hero-container{
        flex-direction: column-reverse;
    }
    .hero-img img{
        margin-top: -200px;
    }
    .hero-title{
        font-size: 40px;
    }
    .hero-description{
        font-size: 20px;
    }
    .top-heading{
        margin-top: 100px;
        font-size: 40px;
    }
    .card-container{
        grid-template-columns: repeat(2,1fr);
    }
     .card-description{
        font-size: 20px;
    }
    .card-container button{
        padding: 10px 20px;
        font-size: 16px;


    }
    .flower-plants{
        flex-direction: column;
        margin-top: 150px;
    }
    .child-images img{
        display: none;
    }
    .parent-images img{
        max-width: 400px;
    }


}

