
.body{
    font-family: sans-serif; 
}

/* navigatiion styles*/

.margin{
    margin: 20px 200px; 
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.links ul li{
    display: inline-block;
    margin-right: 1.6rem;
    list-style: none;
}
.links ul li a{
    text-decoration: none;
    color: #252432;
    font-size: 1.6rem;
    font-weight: 600;
}
.links ul li a:hover{
    color:#E95A08 ;
}
.links{
    display: flex;
    justify-content: center;
}

/*hero section style*/
.hero-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 300px;
}

.hero-title{
    font-size: 60px;
    font-weight: 700;
    font-family: sans-serif;  
}
.hero-title span{
    color: #E95A08;
}
.hero-description{
    font-size:1.7rem ;
    color: rgb(146, 145, 145);
}

/*card heading style*/
.top-heading{
    font-size: 55px;
    font-weight: 700;
    text-align: center;
    margin-top: 160px;
}
.top-heading span{
    color: #E95A08;
}

.card-description{
    font-size: 1.7rem;
    font-weight: 400;
    text-align: center;
    color: rgb(146, 145, 145);
}


/* card style start*/

.card{
    margin-top: 40px;
}
.card img{
    width: 100%;
}
.card-title{
    text-align: center;
    color: #808081;
}
.card-price{
    font-size:30px;
    font-weight: 700;
    text-align: center;
    color: #5b5b5c;   
}
.card button{
    width: 100%;
    font-size: 22px;
    font-weight: 700;
    color: aliceblue;
    background-color: #E95A08;
    border: none;
    padding:  20px 30px;
    cursor: pointer;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    gap: 20px;
}

/*flower plants*/

.flower-plants{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 220px;
}
.child-images img{
    width:360px ;
}
.parent-images{
    position: relative;
}
.child-images{ 
    position: absolute;
    left: 350px;
    top: -160px;
}

.plants h2{
    font-size: 55px;
    font-weight: 700;
    font-family:serif;
}
.plants ul li{
    font-size: 22px;
    font-weight: 400;
    color: rgb(146, 145, 145) ;
}


/*deals section style*/

.deals-container{
    display: flex;
    align-items: center;
    gap: 20px;
   justify-content: space-evenly;
    margin-top: 140px;
}

.deals-parent{
    position: relative;
}
.deals-child{
    position: absolute;
    font-size: 20px;
    color: aliceblue;
    text-align: center;
    left:70px;
    top: 60px;
}
.deals-parent img{
    width: 367px;
    height: 201px;
    border-radius: 20px;
    margin-bottom: 20px;
}
.deals-child a{
    color: aliceblue;
    font-weight: 600;
}
.deal-parent{
    position: relative;
  
}
.deal-child{
    position: absolute;
    font-size: 35px;
    color: aliceblue;
    text-align: center;
    left:180px;
    top: 100px;
}
.deal-parent img{
    border-radius: 20px;
    margin-bottom: 20px;
}
.deal-child a{
    color: aliceblue;
    font-weight: 600;
}





/*input section style*/

.background{
    background-image:url("../assets/news-letter-bg.png");
    /*background-repeat:;*/
    background-position: center;
    height: 533px;
}
.background h2{
    color: aliceblue;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    padding-top: 200px;
    font-family: serif;
}
.main-content input{
    width: 500px;
    padding: 12px 20px;
    font-size: 20px;
    border: none;
}
.main-content button{
    background-color: #E95A08;
    color: aliceblue;
    padding: 12px 40px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}
.main-content{
    display: flex;
    justify-content: center;
}


/*footer section*/
.footer{
    display: flex;
}
.footer{
    margin: 50px 200px;
    justify-content: space-between;  
}
.logos h3{
    font-size: 25px;
   font-weight: 300;
    color: rgb(126, 126, 126);
}
.logos{
    margin-right: 70px; 
}
.footer-link{
    margin-right: 70px;
}
.footer-link2{
    margin-right: 70px;
}
.footer-link li{
    list-style: none;
    margin-bottom: 40px;
    font-size: 22px;
}
.footer-link li a{
    text-decoration: none;
    color: rgb(130, 132, 132);
}
.footer-link2 li{
    list-style: none;
    margin-bottom: 40px;
    font-size: 22px;
}
.footer-link2 li a{
    text-decoration: none;
    color: rgb(130, 132, 132);
}
.icon ul li{
    list-style: none;
}
.icon{
    display: flex; 
}






/*responsice resign*/

@media screen  and (max-width:576px){
    
    .margin{
        margin: 0px auto;
    }
    .nav3{
        display: none;
    }
    .links{
        font-size: 16px;
    }
    .hero-container{
        flex-direction: column-reverse;
    }
    .hero-img img{
        margin-top: -200px;
    }
    .hero-title{
        font-size: 40px;
    }
    .hero-description{
        font-size: 20px;
    }
    .top-heading{
        margin-top: 100px;
        font-size: 40px;
    }
    .card-container{
        grid-template-columns: repeat(2,1fr);
    }
     .card-description{
        font-size: 20px;
    }
    .card-container button{
        padding: 10px 20px;
        font-size: 16px;
    }
    .flower-plants{
        flex-direction: column;
        margin-top: 150px;
    }
    .child-images img{
        display: none;
    }
    .parent-images img{
        max-width: 400px;
    }
    
    .footer-link ul li{
        font-size: 18px;
    }
    .footer-link2 ul li{
        font-size: 18px;
    }



    .deals-container{
        flex-direction: column;
    }
    .deal-parent img{
        width: 400px;
    }
    .deal-parent h3{
        font-size: 25px;
    }
    .deal-parent a{
        font-size: 20px;
    }
    .deal-child{
    position: absolute;
    font-size: 35px;
    color: aliceblue;
    text-align: center;
    left:90px;
    top: 60px;
    }


    .background{
        width:100%;
    }
    .main-content input{
        width: 100%;
        font-size: 13px;
    }
     .main-content button{
        font-size: 13px;
    }

    .footer{
        flex-direction: column;
        margin: 0px;
    }







}

